GITVERSION
VERSION
/dist
/docs/build/reports
/node-server-build
*.pyc
*.vim
*.o
*.a
*.so
*.egg-info
*.DS_Store
**/static/js/**
**/static/css/**
**/static/i/icons.svg
**/static/test/**
etc/*/*.cert
etc/*/*.key
.idea
*.tar.gz
*.sublime-*
node_modules
venv_*
.cache/**
settings_local.py
settings_local.py.swp
cert/local.*
npm-debug.log
.python-version
.vscode/
package-lock.json